@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: 'border-box';
  padding: 0;
  margin: 0;
}

body {
  background-color: #111827;
  color: #d1d5db;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 1.75rem;
  overflow-x: hidden;
}

#card {
  cursor: pointer
}

#card:hover #inner {
  transform: perspective(56.25rem) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 0.125rem 2.188rem 2.188rem -0.5rem rgba(0,0,0, 0.75);

  filter: blur(2px) brightness(75%)
}

#card #title {
  transform: translate3d(0%, 70%, 0);
}

#card:hover #title {
  transform: translate3d(0%, 30%, 0);
}

#title, #inner {
  transition: all 0.5s
}